html {
  overflow-y: scroll;
}
/* core */
.scrollToTop {
  position: fixed;
  right: 20px;
  bottom: -100px;
  opacity: 0;
  overflow: hidden;
  outline: none;
}
.scrollToTop_show {
  opacity: 1;
  bottom: 20px;
}
.scrollToTop_animating,
.scrollToTop_animating * {
  pointer-events: none !important;
}
@-webkit-keyframes scrollToTop_fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes scrollToTop_fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scrollToTop_fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scrollToTop_slide {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 20px;
  }
}
@-o-keyframes scrollToTop_slide {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 20px;
  }
}
@keyframes scrollToTop_slide {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 20px;
  }
}
/* skins */
.scrollToTop {
  width: 50px;
  height: 50px;
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  text-indent: 100%;
  white-space: nowrap;
  background: no-repeat center center transparent;
  outline: none;
}
.scrollToTop_default {
  display: block;
  width: auto;
  height: auto;
  padding: 10px;
  text-indent: 0;
  background: #eee;
  border-radius: 10px;
}
.scrollToTop_default :hover {
  background-color: #ddd;
}
.scrollToTop_cycle {
  background-image: url("../images/cycle.png");
}
.scrollToTop_cycle:hover {
  background-image: url("../images/cycle-hover.png");
}
.scrollToTop_square {
  background-image: url("../images/square.png");
}
.scrollToTop_square:hover {
  background-image: url("../images/square-hover.png");
}
.scrollToTop_text {
  background-image: url("../images/text.png");
}
.scrollToTop_text:hover {
  background-image: url("../images/text-hover.png");
}
.scrollToTop_triangle {
  background-image: url("../images/triangle.png");
}
.scrollToTop_triangle:hover {
  background-image: url("../images/triangle-hover.png");
}
