.easing_linear {
	-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
			transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
}
.easing_ease {
	-webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
			transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
.easing_easeIn {
	-webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
			transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
}
.easing_easeOut {
	-webkit-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
			transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.easing_easeInOut {
	-webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
			transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
.easing_easeInQuad {
	-webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
			transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
}
.easing_easeInCubic {
	-webkit-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
			transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}
.easing_easeInQuart {
	-webkit-transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
			transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
}
.easing_easeInQuint {
	-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
			transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
}
.easing_easeInSine {
	-webkit-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
			transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
}
.easing_easeInExpo {
	-webkit-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
			transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
}
.easing_easeInCirc {
	-webkit-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
			transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
}
.easing_easeInBack {
	-webkit-transition-timing-function: cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
			transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
}
.easing_eastOutQuad {
	-webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
			transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.easing_easeOutCubic {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
			transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.easing_easeOutQuart {
	-webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
			transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.easing_easeOutQuint {
	-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
			transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.easing_easeOutSine {
	-webkit-transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
			transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
.easing_easeOutExpo {
	-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
			transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.easing_easeOutCirc {
	-webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
			transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}
.easing_easeOutBack {
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.easing_easeInOutQuad {
	-webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
			transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}
.easing_easeInOutCubic {
	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
			transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.easing_easeInOutQuart {
	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
			transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.easing_easeInOutQuint {
	-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
			transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
}
.easing_easeInOutSine {
	-webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
			transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
.easing_easeInOutExpo {
	-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
			transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}
.easing_easeInOutCirc {
	-webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
			transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.easing_easeInOutBack {
	-webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
			transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.easing_easeInOutElastic {
	-webkit-transition-timing-function: cubic-bezier(1.000, -0.560, 0.000, 1.455);
			transition-timing-function: cubic-bezier(1.000, -0.560, 0.000, 1.455);
}


.easing_custom {
	-webkit-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750);
			transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750);
}