$namespce: scrollToTop;

html {
	overflow-y: scroll;
}

/* core */
.#{$namespce} {
	position: fixed;
	right: 20px;
	bottom: -100px;
	opacity: 0;

	overflow: hidden;
	outline: none;

	&_show {
		opacity: 1;
		bottom: 20px;
	}

	&_animating,
	&_animating * {
		pointer-events: none !important;
	}
}

@keyframes scrollToTop_fade {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes scrollToTop_slide {
	0%   {bottom: -100px;}
	100% {bottom: 20px;}
}

/* skins */
.#{$namespce} {
	width: 50px;
	height: 50px;
	color: #000;
	font-family: sans-serif;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	text-indent: 100%;
	white-space: nowrap;
	background: no-repeat center center transparent;
	outline: none;

	&_default {
		display: block;
		width: auto;
		height: auto;
		padding: 10px;
		text-indent: 0;
		background: #eee;
		-webkit-border-radius: 10px;
		border-radius: 10px;

		:hover {
			background-color: #ddd;
		}
	}

	// cycle skin
	&_cycle {
		background-image: url("../images/cycle.png");

		&:hover {
			background-image: url("../images/cycle-hover.png");
		}
	}

	// square skin
	&_square {
		background-image: url("../images/square.png");

		&:hover {
			background-image: url("../images/square-hover.png");
		}
	}

	// text skin
	&_text {
		background-image: url("../images/text.png");

		&:hover {
			background-image: url("../images/text-hover.png");
		}
	}

	// triangle skin
	&_triangle {
		background-image: url("../images/triangle.png");

		&:hover {
			background-image: url("../images/triangle-hover.png");
		}
	}
}
